<div id="login" class="mt-20 block h-screen">
  <div class="w-full max-w-md mt-32 md:mt-40 mx-auto flex flex-wrap lg:block">
    <div class="mx-5 lg:mx-10">
      <form class="bg-white dark:bg-scarabe-light shadow-lg rounded px-8 pt-6 pb-8 mb-4" [formGroup]="foodtruckForm">
        <h1 class="text-2xl text-gray-600 dark:text-gray-200 uppercase tracking-wide text-center mb-8">
          Connexion
        </h1>
        <div class="mb-4">
          <input class="border-t border-r border-l border-gray-300 dark:bg-scarabe-darkmedium dark:text-white dark:border-scarabe-light shadow-md h-10 font-normal appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none"
                 id="email"
                 type="email"
                 formControlName="email"
                 placeholder="email">
          <input class="mt-5 shadow-md border-gray-300 dark:bg-scarabe-darkmedium dark:text-white dark:border-scarabe-light border-t border-r border-l h-10 font-normal appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight outline-none"
                 id="password"
                 type="password"
                 formControlName="password"
                 placeholder="********">
        </div>
        <div class="flex flex-col items-center justify-between mt-6 md:mt-10">
          <button class="w-full uppercase shadow-md text-xs md:text-md bg-blue-700 hover:bg-blue-800 text-gray-50 font-normal py-2 px-4 text-lg rounded hover:shadow-lg focus:outline-none focus:shadow-outline"
                  type="button"
                  (click)="login()">
            connexion
          </button>
          <div class="bg-red-200 border-2 border-red-300 w-full rounded h-12 text-red-700 text-center mt-10 flex flex-wrap content-center justify-center" *ngIf="loginError">
            Les identifiants sont incorrects
          </div>
        </div>
      </form>
    </div>

  </div>
