<div class="container p-5 text-gray-700" *ngIf="bookings.length === 0 && loading === true">
  Chargement ...
</div>
<div class="container mx-auto mt-5" *ngIf="bookings.length > 0">
  <div class="">
    <ul>
      <li class="font-weight-bold text-xl flex mb-2">
        Réservations <div class="text-xl text-red-600" *ngIf="loading"> - Chargement ...</div>
      </li>
      <li class="flex"
        *ngFor="let booking of bookings">
        <div class="px-3 py-1 bg-green-700 text-white rounded shadow w-52 mb-4 text-center">
          {{ booking.date | date: 'EE dd MMM Y' }}
        </div>
        <div class="ml-5 hover:underline text-red-600 hover:cursor-pointer mt-1"
              (click)="deleteBooking(booking)">
          supprimer
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="container mx-auto text-xl font-weight-bold mt-5"
     *ngIf="bookings.length === 0 && loading === false">
  Aucune réservation
</div>
