<div class="container mx-auto mt-5">
  <div class="bg-gray-700 text-gray-100 h-16 pt-4 px-10 shadow sm:rounded-lg">
    <div class="flex justify-content-between align-middle ">
      <div class="uppercase text-lg lg:text-2xl cursor-pointer"
          [routerLink]="['/slots']">
        {{ getCompanyName() }}
        <span class="text-sm xl:text-xl">
          - Gestion d'emplacements pour Foodtruck
        </span>
      </div>
    </div>
  </div>
</div>
