<div class="container p-5 text-gray-700" *ngIf="slots.length === 0">
  Chargement ...
</div>
<div class="container mx-auto mt-5" *ngIf="slots.length > 0">
  <div class="date text-xl flex w-100 between">
    <div class="w-full block lg:flex">
      <div class=" block lg:flex">
        <span class="rounded-full text-xs shadow bg-blue-700 cursor-pointer text-white p-1 arrow"
              (click)="changeWeek(-1)">
          <span class="ml-1">
            <
          </span>
          </span>
            <span class="text-blue-800 font-weight-bold mx-5">
          {{ currentWeekStart | date: 'EE dd MMM Y' }}
          </span>
          <span class=" block lg:flex text-left pl-28 lg:pl-0 lg:text-center">
            au
          </span>
          <span class="text-blue-800 font-weight-bold ml-5">
          {{ currentWeekEnd | date: 'EE dd MMM Y' }}
        </span>
          <span class="rounded-full text-md shadow bg-blue-700 cursor-pointer text-white p-1 arrow ml-5"
                (click)="changeWeek(1)">
          <span class="ml-1">
            >
          </span>
        </span>
      </div>
    </div>
    <div class="uppercase px-3 h-10 shadow-lg text-sm lg:text-xl justify-content-center rounded cursor-pointer bg-green-700 w-72 border border-green-400 text-center text-white"
          [routerLink]="['/bookings']">
      <div class="h-center">
        mes réservations
      </div>
    </div>
  </div>
  <div class="text-red-600 font-weight-bold text-xl fixed" *ngIf="loading">Chargement ...</div>
  <div class="grid gap-4 grid-cols-7 mx-auto mt-10" [ngClass]="loading ? 'loading' : ''">
    <div class="flex justify-content-center"
         *ngFor="let slot of slots">
      <ul class="w-48 xl:w-52 ">
        <li class="leading-8 text-md lg:text-lg xl:text-xl font-weight-bolder center">
          {{ slot.date | date: 'EE dd MMM Y' }}
        </li>
        <li class="center"
            *ngFor="let slotLoop of getNumberOfSlots(slot)">
          <img src="assets/images/foodtruck.png"
               (click)="askBooking(slot)"
               [ngClass]="checkForbiddenSlot(slot) ? 'foodtruck_forbidden' : 'foodtruck drop-shadow-lg'" />
        </li>
        <li class="center"
            *ngFor="let booking of slot.bookings">
          <img src="assets/images/foodtruck.png"
               (click)="deleteBooking(booking)"
               [ngClass]="booking.id ? 'foodtruck_own_booking drop-shadow' : 'foodtruck_booked'" />
        </li>
      </ul>
    </div>
  </div>

</div>
