.foodtruck {
  width: 100px;
  cursor: pointer;
}
.foodtruck_forbidden {
  width: 100px;
  opacity: 0.6;
  cursor: not-allowed;
}
.foodtruck_booked {
  width: 100px;
  filter: grayscale(1);
}

.foodtruck_own_booking {
  width: 100px;
  filter: hue-rotate(90deg);
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
}
.between {
  display: flex;
  justify-content: space-between;
}
.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
}
.loading {
  opacity: 0.1;
}
.h-center {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
