<app-header></app-header>
<div class="mx-auto container mt-5">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

